/* --- mixin 定義 ---------------------------------------- */
@mixin bgi(
  $url: url(),
  $size: cover,
  $position: center center
) { 
  background: {
    image: $url; 
    size: $size;
    position: $position;
    repeat: no-repeat;
  }
}

/* --- ハンバーガーmenu　------------------------------------　*/
.nav {
  &_area {
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    margin: 0 auto;
    z-index: 100;
  }
  &_mb {
    &_base {
      opacity: 1.0;
      z-index: 100;
    }
    
  }
  &_open {
    display: block;
    position: fixed;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    z-index: 300;
    transition: 0.3s;
    &.active div {
      &:nth-last-child(1) {
        transform: rotate(45deg);
      }
      &:nth-last-child(2) {
        opacity: 0;
      }
      &:nth-last-child(3) {
        transform: rotate(-45deg);
      }
    }
    & div {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 1px;
      background-color: #331122;
      
      &:nth-of-type(1) {
        transform: translate(-50%,-10px);
       }
       &:nth-of-type(3) {
        transform: translate(-50%,10px);
       }
    }
  }
}

/* --- ハンバーガーmenu　------------------------------------　*/

/* --- 全体のBOX定義 ---------------------------------------- */
.box {
  position   : relative;
  max-width  : 1400px;
  height     : 90vh;
  margin     : auto;
  overflow   : hidden;
}

/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 16s infinite;   /* 4画像 × 各4s = 16s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box {
  & .src1 {
    background-image : url(../images/mainvisual_top_1.jpg);   /* 背景の画像を指定 */
    background-size: cover;
    background-position: center center;
  }
  & .src2 {
    background-image : url(../images/mainvisual_top_2.jpg);   /* 背景の画像を指定 */
    background-size: cover;
    background-position: center center;
    animation-delay  : 4s;
  }
  & .src3 {
    background-image : url(../images/mainvisual_top_3.jpg);   /* 背景の画像を指定 */
    background-size: cover;
    background-position: center center;
    animation-delay  : 8s;
  }
  & .src4 {
    background-image : url(../images/mainvisual_top_4.jpg);   /* 背景の画像を指定 */
    background-size: cover;
    background-position: center center;
    animation-delay  : 12s;
    animation-fill-mode: forwards;
  }
}

@keyframes bgAnime {
   0% { opacity: 0; }
  10% { opacity: 1; }
  25% { opacity: 1; }
  35% { opacity: 0; }
 100% { opacity: 0; }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.boxString {
  & img {
    display    : inline-block;
    position   : absolute;
    width: 240px;
    top        : 50%;                               /* 中央寄せ */
    left       : 50%;
    transform  : translate(-50%,-50%);
    z-index    : 200;
    // padding    : 20px;
    // background : rgba(0, 127, 255, 0.7);          /* 半透明の青 */
    // color      : #fff;
    }
}